*{
    margin: 0;
    padding: 0;
}
#navb{
	margin-left: 700px;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}
.carousel-caption{
	bottom: 220px;
	z-index: 2;
    color: aqua;
}
.item {
	height: 90vh;
	min-height: 150px;
}
a{
    list-style-type: none;
}

#aboutImage{
    width: 400px;
    height: 300px;
}
#quote{
    font-weight: bolder;
}

#footer a{
    margin-top: 20px;
    padding: 30px;
	text-decoration: none;
}

@media screen and (max-width: 600px){
    #navb{
        float: right;
        display: block;
    }
}
